// ------------------- Home observatorio  ------------------- //

// ------------------- Banner home  ------------------- //
.region-banner-ext{
	margin-top: -21px;
	text-align: center;
	grid-gap: 2rem;
	justify-items: center;
	@include display-grid;
	@include grid-parent-10-columns (1fr, 1fr, 1fr, 10fr, 10fr, 10fr, 10fr, 1fr, 1fr, 1fr);
	
	// Banner
	.contextual-region.block-content.block-content--type-bloque-cabezote-imagen-titulo{
		
		
		img{
			@media only screen and (max-width: 798px){
				height: 24rem;
			    width: auto;
			    max-width: initial;
			    position: relative;
			    left: -24rem;
			}
			
			@media only screen and (max-width: 550px){
				width: 150%;
				left: -24%;
				height: auto;
			}
		}
	}
	
	section:first-child{
		@include grid-child-column (1, 11);
		@include grid-child-row (1, 2);
	}
	
	// Areas styles generals
	section:nth-child(n+2){
		border: 25px solid $bg-white;
		box-sizing: border-box;
		padding: 3rem 2rem;
		margin: -10rem 0.4rem 0;
		text-align: left;
		
		@media only screen and (max-width: 798px){
			padding: 3rem 2rem;
			margin-top: -5rem;
			
			&:last-child{
				margin-top: 0;
			}
		}
		
		@media only screen and (max-width: 550px){
			padding: 3rem 2rem;
			margin: 0 auto 2rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
		
		// Title
		.field--name-field-titulo{
			font: $font-titles $font-AG-bold;
			color: $bg-white;
			line-height: $font-titles; 
		}
		
		// Links
		.field--name-field-enlace{
			a{
				@include buttons;
				@media (max-width: 798px){
				    margin-top: 5rem;
				    
				    &:before{
					    top: -3rem;
				    }
				}
			}
		}
	}
	
	// Areas colors
	section:nth-child(2){
		background: $color-bys;
		@include grid-child-column (4, 5);
		@include grid-child-row (2, 3);
	}
	
	section:nth-child(3){
		background: $color-bya;
		@include grid-child-column (5, 6);
		@include grid-child-row (2, 3);
	}
	
	section:nth-child(4){
		background: $color-bye;
		@include grid-child-column (6, 7);
		@include grid-child-row (2, 3);
	}
	
	section:nth-child(5){
		background: $color-bye;
		@include grid-child-column (7, 8);
		@include grid-child-row (2, 3);
	}
	
}

// ------------------- Content regions  ------------------- //
.path-frontpage{
	.main-container{
		margin-top: 3rem;
		
		.region-content{
			grid-gap: 2rem;
			@include display-grid;
			@include grid-parent-3-columns (1fr, 1fr, 1.4fr);
			background: none;
			
			// Hide element from home
			.views-element-container.form-group{
				display: none;
			}
			
			// Puede interesarle
			.puede-interesarle{
				background: $color-pi;
				float: left;
				padding: 3rem;
				
				@media only screen and (max-width: $tablet-1){
					padding: 3rem;
				}
				
				// Title
				.block-title{
					border-bottom: 1px solid $color-font-brown;
					margin: -3rem -3rem 0;
					padding: 2rem 3rem;
				}
				
				.field--type-text-with-summary{
					margin-top: 2rem;
					
					p{
						&:last-child{
							a{
								margin-bottom: 0px;
								&:before{
									visibility: hidden;
								}
							}
						}
						
						// Strongs
						strong{
							font-family: $font-AG-black;
						}
						
						// Links
						a{
							@include buttons-brown;
						}
					}
				}
			}
			
			// Editorial
			section[class*="block-views-blockeditorial-repositorio-block-"] {
				position: relative;
				
				@media only screen and (max-width: 991px){
					
					.view-content{
						.views-field-field-imagen-del-editorial img{
							width: 100%;
						}
					}
				}
				
				@media only screen and (max-width: $tablet-1){
					padding: 0;
					margin-top: 3rem;
				}
				
				.views-element-container{
					display: initial;
					
					// Header title
					.view-header{
						font-size: $font-txt-s;
						font-family: $font-AG-bold;
						text-transform: uppercase;
						position: absolute;
						z-index: 1;
						top: 3rem;
						left: 3rem;
					}
					
					// Elements inside view
					.view-content{
						padding: 0;
						
						// Fix width for home
						.views-row{
							@include grid-porcentaje(12);
							padding: 0 0 3rem;
						}
					}
				}
			}
			
			// Eventos
			section[class*="block-views-blockeventos-block-"]{
				padding: 0;
				
				@media only screen and (max-width: 991px){
					padding: 0;
					margin-top: 3rem;
				}
				
				@media only screen and (max-width: $tablet-1){
					padding: 0;
				}
				
				.views-element-container{
					display: initial;
				
					// fix margins
					.view-header{
						margin: 0;
						padding: 1.5rem 3rem;
					}
					
					// fix margins
					.view-content{
						padding: 1.5rem 3rem;
					}
				}
			}
			
			// Banner promo
			section[class*="banner-promo"]{
				margin-top: 1rem;
				padding: 0;
				
				@media only screen and (max-width: 991px){
					padding: 0;
					margin-top: 3rem;
				}
				
				@media only screen and (max-width: $tablet-1){
					padding: 0;
				}
				
				// Fix lines
				a{
					&:after{
						display: none;
					}
				}
			}
		}
	}
}

// ------------------- Content regions last banner  ------------------- //
.path-frontpage{
	
	.region-content-third{
		margin-top: 3rem;
		position: relative;
		
		// Content structure
		.views-row{
			position: relative;
			min-height: 38rem;
			
			// Image
			.views-field-field-imagen-streaming{
				position: absolute;
				
				@media only screen and (max-width: $tablet-2){
					position: relative;
				}
			}
			
			// Title streaming
			.views-field-field-nombre-del-streaming{
				position: relative;
				text-transform: uppercase;
				color: $color_menu_obsbioetica;
				font: $font-txt-xl $font-AG-black;
				padding: 6rem 3rem 0rem;
				
				@media only screen and (max-width: 1201px){
					padding-top: 2rem;
				}
			}
			
			// Date streaming
			.views-field-field-fecha-streaming{
				position: relative;
				color: $color_menu_obsbioetica;
				font: $font-titles-xl $font-AG-light;
				padding: 0rem 3rem;
				&:after{
					position: absolute;
					content: "";
					width: 30rem;
					height: 2px;
					background: $color_menu_obsbioetica;
					left: 0;
					bottom: 0;
				}
				
				@media only screen and (max-width: 991px){
					font-size: $font-txt-xl;
				}
			}
			
			// title
			.views-field-title{
				position: relative;
				color: $bg-white;
				font: $font-brandb-l $font-AG-bold;
				line-height: $font-brandb-l;
				padding: 1rem 3rem 0;
				
				@media only screen and (max-width: 991px){
					font-size: $font-subtitles;
				}
				
				@media only screen and (max-width: $tablet-2){
					color: $color-font;
				}
			}
			
			// Description streaming
			.views-field-field-descripcion-streaming{
				position: relative;
				color: $bg-white;
				padding: 1rem 3rem;
				
				@media only screen and (max-width: 991px){
					padding: 0 3rem;
				}
				
				@media only screen and (max-width: $tablet-2){
					color: $color-font;
				}
			}
			
			// Description streaming
			.views-field-field-enlace-al-streaming{
				position: relative;
				padding: 1rem 3rem;
				
				@media only screen and (max-width: 991px){
					padding: 0 3rem;
				}
				
				a{
					@include buttons-white-line;
					@media only screen and (max-width: $tablet-2){
						@include buttons-turq-line;
					}
					&:hover{
						&:after{
							visibility: hidden;
						}
					}
				}
			}
		}
	}
}