// --------------------------- Social Media ----------------------------- //
.block-addtoany-block{
	.addtoany_list{
		a{
			font-size: inherit;
			&:after{
				display: none;
			}
			@media only screen and (max-width: 457px){
				display: block;
				margin-bottom: 1rem;
				&:last-child{
					margin-bottom: 0;
				}
			}
			span{
				width: 100px;
				padding: 0.4rem 0;
				height: auto;
				svg{
					width: 32px;
				}
			}
		}
	}
}

.a2a_kit.addtoany_list{
	
	a{
		font-size: inherit;
		@media only screen and (max-width: 457px){
			display: block;
			margin-bottom: 1rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&:after{
			display: none;
		}
		span{
			width: 100px;
			padding: 0.4rem 0;
			height: auto;
			svg{
				width: 32px;
			}
		}
	}
}

.region-content-second .block-addtoany-block{
	margin-top: 2rem;
}